// redo: ovmerge -c i2c-rtc-overlay.dts,ds3231 i2c1-overlay.dts

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";
	fragment@0 {
		target = <&i2cbus>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			ds3231@68 {
				compatible = "maxim,ds3231";
				reg = <0x68>;
			};
		};
	};
	fragment@1 {
		target = <&i2c_arm>;
		i2cbus: __overlay__ {
			status = "okay";
		};
	};
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins>;
		};
	};
	fragment@3 {
		target = <&i2c1_pins>;
		__overlay__ {
			brcm,pins = <2 3>;
			brcm,function = <4>;
		};
	};
	fragment@4 {
		target = <&i2c1_pins>;
		__dormant__ {
			brcm,pins = <44 45>;
			brcm,function = <6>;
		};
	};
	fragment@5 {
		target = <&i2c1>;
		__dormant__ {
			compatible = "brcm,bcm2708-i2c";
		};
	};
	__overrides__ {
		pins_2_3 = <0>, "=3!4";
		pins_44_45 = <0>, "!3=4";
		combine = <0>, "!5";
	};
};
